
.rpd-espnode-nodelist .rpd-nodelist-selected {
    background-color: rgba(0, 0, 0, 0.3);
}

.rpd-espnode-nodelist li {
    cursor: pointer;
    padding: 1px 0px 1px 0px;
    /* vertical-align: middle; */
    margin: 2px 0;
    background-color: rgba(126, 126, 126, 0.4);
    /*! border-radius: 5px; */
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    /* border-color: white; */
}

.rpd-espnode-nodelist li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.rpd-espnode-nodelist dt {
    margin: 3px 0;
}

.rpd-espnode-nodelist dt .rpd-nodelist-toolkit-name {
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
}

.rpd-espnode-nodelist .rpd-process-target a {
    text-decoration: none;
    /* font-size: 1.2em; */
    color: darkred;
    background-color: slategray;
    border-radius: 4px;
    padding: 1px 3px 1px 3px;
    margin: 0 3px;
    /* position: relative; */
    /* top: -1px; */
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.rpd-espnode-nodelist .rpd-process-target a:hover {
    color: red;
    background-color: aliceblue;
}

.rpd-espnode-nodelist input {
    width: 85%;
}

.rpd-espnode-nodelist ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

.rpd-espnode-nodelist dl {
    /* overflow-y: ; */
    width: 180px;
    max-height: 400px;
    margin: 6px 0px 0 0;
    padding: 0;
    overflow-y: scroll;
    mix-blend-mode: multiply;
}

.rpd-espnode-nodelist dl > dd {
    margin: 10px 0;
    padding: 0;
}

.rpd-espnode-nodelist li .rpd-nodelist-description {
    display: block;
    font-size: 0.7em;
    opacity: 0.8;
}

.rpd-espnode-nodelist li .rpd-nodelist-icon {
    display: inline-block;
    width: 1em;
    /* height: 1em; */
    padding: 0px 3px 0px 2px;
    text-align: center;
    color: darkseagreen;
    vertical-align: middle;
    position: relative;
    top: -1px;
    /* left: 0px; */
    /* border-radius: 3px 0 0 3px; */
    /* background-color: ghostwhite; */
    /* text-anchor: initial; */
}

.rpd-espnode-nodelist li .rpd-nodelist-fulltypename {
    margin: 3px 3px;
    display: inline-block;
}

.rpd-espnode-nodelist li.rpd-nodelist-selected .rpd-nodelist-fulltypename {
    color: #cecece;
}

.rpd-espnode-nodelist li.rpd-nodelist-add-effect {
    /* background-color: #CCC; */
    /* color: #000; */
}

_::-moz-range-track, body:last-child .rpd-inlet {
        margin-top: -0.5em !important;
}

_::-moz-range-track, body:last-child .rpd-connector {
        margin-top: -0.7em !important;
}

    .vex.vex-theme-wireframe .vex-content {
      padding: 1em !important;
    }


    .vex.vex-theme-wireframe .vex-content, .egolab {
        font-family: 'PT Mono', 'Andale Mono', 'Fira mono', 'Menlo', sans-serif !important;
    }    


    .vex-content-splash {
        width: 640px !important;
        -webkit-box-shadow: 0px 0px 17px 3px rgba(119, 119, 119, 0.5);
        -moz-box-shadow: 0px 0px 17px 3px rgba(119, 119, 119, 0.5);
        box-shadow: 0px 0px 17px 3px rgba(119, 119, 119, 0.5);
        /* height: 730px !important; */
    }

    .vex.vex-theme-wireframe .vex-content {
        background: #000 !important;
        color: #fff !important;
    }

    .rpd-canvas{
        /* overflow: scroll; */
    }

    #main {
        position: relative;
    }


    .btn_wave {
        border: 1px solid;
    }